section {
  padding: 30px 10px;
}

header {
  font-size: 30px;
}

#navbar {
  display: flex;
  flex-direction: column;
}

a {
  padding: 10px;
}

@media (min-width: 480px) {
  body {
    display: flex;
  }
}
